@model IEnumerable<DAB.DTO.Churrasco>


@{
    ViewBag.Title = "Churrasco - Oba, coisa boa!";
}





<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Churras da Trinca
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="~/Home"><i class="fa fa-dashboard"></i> Home</a>
        </li>
    

    </ol>
</section>


<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-12 col-md-12  col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Opções</h3>
                </div>
                <div class="box-body">
                    <a href="~/Churrasco/Create" class="btn btn-primary">Adicionar churras</a>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-12  col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Listagem de Churrasco</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quando)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Porque)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ValorArrecadado)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quando)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Porque)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ValorArrecadado)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detalhes", "Details", "Churrasco", new { id = item.Id }, new { @class = "btn  btn-success btn-sm" }) 
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- ./col -->
    </div> <!-- close row -->
</section> <!-- close section -->
